/publication/FOGRA39L.icc
/publication/GSPB15.aux
/publication/GSPB15.idx
/publication/GSPB15.log
/publication/GSPB15.pdf
/publication/GSPB15.toc
/publication/GSPB15disclamerPage.pdf
/publication/cover/480px-FAO_logo.svg.png
/publication/cover/cover.jpg
/publication/cover/cover.pdf
/publication/faoyearbook.bib
