/publication/figure/plot-1.pdf
/GSPB15.Rproj
/publication/GSPB15-concordance.tex
/publication/GSPB15.ilg
/publication/GSPB15.ind
/publication/GSPB15.synctex.gz
/publication/figure/unnamed-chunk-1-1.pdf
/publication/GSPB15.tex
/publication/GSPB15.tex
/publication/GSPB15.aux
/publication/GSPB15.idx
/publication/GSPB15.log
/publication/GSPB15.pdf
/publication/GSPB15.toc
/publication/GSPB15disclamerPage.pdf
/publication/cover/480px-FAO_logo.svg.png
/publication/cover/cover.jpg
/publication/cover/cover.pdf
/publication/faoyearbook.bib
/publication/Environments.tex
.Rproj.user
_site
.Rhistory